@import url('./reset.css');


body {
    background-color: #24273D;
}

.icon {
    
    color: #fb5d56;
    transform: scale(3);
    fill: #fb5d56;
    stroke: #fb5d56;
    stroke-width: .9px;
    margin: 20px 0 30px 10px;
    text-transform: uppercase;
}